/* Estilos para inicio de sesión */
body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../img/inversion-tecnologi.png);
}

.form-login {
    width: 450px;
    background: #dbdbe8;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    padding: 20px 30px;
    border-top: 4px solid rgb(21, 21, 28);
    color: black;
}

.forgot-password {
    color: black;
    text-decoration: none; 
    font-weight: bold; 
    cursor: pointer;
    font-size: 11px;
}

.forgot-password:hover {
    color: #0056b3; 
}

.create-user {
    color: #333; 
    font-size: 12px; 
    cursor: pointer;
}

.create-user:hover {
    text-decoration: underline;
}



/* Estilos para menú */

.sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 50px;
}

.logo h2 {
    margin: 0;
    border: 1px solid #ccc;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    color: #fff;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #555;
}

.submenu-items {
    display: none;
    padding-left: 20px;
}

.submenu-items li {
    margin-bottom: 5px;
}

.submenu a {
    display: block;
}

.submenu a:hover {
    background-color: #555;
}

.submenu:hover .submenu-items {
    display: block;
}

.fas {
    margin-right: 10px;
}

.content {
    margin-left: 250px;
    padding: 20px;
}

/* Estilos para máquinas */

.form-container {
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.selection-container{
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.selection-container h2 {
    color: black !important;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

form input[type="text"],
form input[type="date"],
form select,
form textarea {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

form .buttons {
    text-align: right;
}

form .buttons input[type="submit"],
form .buttons input[type="reset"] {
    padding: 15px 100px;
    margin: 10px;
    width: auto;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form .buttons input[type="submit"]:hover,
form .buttons input[type="reset"]:hover {
    background-color: #0056b3;
}

.selection-container {
    margin-left: 20px;
}

.selection-container h2 {
    color: #0056b3;
}

.machine-info {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
}

/* Estilos para usuarios */

.user-selection {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.user-option {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.user-option h2 {
    margin-top: 0;
    color: black;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="submit"],
input[type="button"] {
    background-color: #333 ;
    color: #ccc;
    width: 50px;
    margin: 17px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #0056b3;
}

/* Estilos tareas de mantenimiento */

.task-content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.task-list, .task-selection {
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-list h2, .task-selection h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.button-container {
    text-align: right;
    margin: auto;
}

.btn {
    margin: 55px;
    padding: 100px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333 !important;
    color: #fff;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3 !important;
}

.task-selection form input[type="text"],
.task-selection form select,
.task-selection form textarea {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Estilos historial de mantenimiento */

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-container {
    text-align: center;
    margin-top: 20px;
}

/* Estilos máquinas e inventario */

.containerinventario {
    max-width: 650px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input[type="number"]{
padding: 8px;
margin-bottom: 20px;
border-radius: 5px;
border: 1px solid #ccc;
width: 94%;
}

input[type="submit"],
input[type="reset"],
.btn {
    padding: 15px 100px;
    margin: 35px;
    width: auto;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
.btn:hover {
    background-color: #0056b3;
}

/* Estilos clientes */

.container {
    display: flex;
    width: 100%;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container{
    padding: 200px;
    background-color: white;
    border: 1px solid #ccc;
}
h1 {
    color: #fff;
    background-color: #333;
    text-align: center;
    margin: 0;
    border-radius: 10px 10px 0 0;
    padding: 20px 0;
}

.btn {
    padding: 15px 100px;
    margin: 10px;
    width: auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.table-container {
    flex: 1;
    padding: 20px;
    overflow: auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px black ;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}

/* Estilos crear cuenta */

.containercuenta {
    max-width: 550px;
    margin: 85px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 4px;
    font-size: 14px;
}

input[type="text"],
input[type="password"] {
    margin: 20px;
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

small {
    display: block;
    margin-top: 4px;
    color: #888;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2px;
    font-size: 10px;
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos recuperar contrasena */
.containercontrasena {
    max-width: 100%;
    margin: 100 px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10 px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="email"] {
    margin: 17px;
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 30%;
    padding: 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 auto;
}